{% extends "main_layout.html" %}

{% block content %}
    <h1>The New Website</h1>
    <hr>
    <p>This website is a new website I wanted to make since it has been a while since I have made something similar</p>

    <h2>Code Location</h2>
    <hr>
    <p>When you open the pyWrskp repo, go to src/new_web, and you will find the program</p>

    <h2>Why this website over Web21</h2>
    <hr>
    <p>This is a new much more updated version of Web21. This website was created in 2023, while the Web21 was created in 2021</p>

    <h2>How this website works</h2>
    <hr>
    <p>There as one program my_app.py, that turns on the website</p>
    <p>It uses __init__.py</p>
    <p>Then routes.py is called upon, which declares pages</p>
    <p>Then a program, routes.py in turn calls upon html files, which creates the setup for the page</p>
{% endblock %}