.center-text {
    text-align: center;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.login-container :is(input) {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.login-container :is(button) {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.username {
    font-weight: bold;
    color: #333;
}

.logout-btn {
    padding: 0.5rem 1rem;
    background-color: #dc3545;  /* Red color for logout */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.logout-btn:hover {
    background-color: #c82333;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #333;
    background-color: #ddd;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}
