<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <div class="button-container">
        <form method="GET" action="/converter"><button type="submit">Converter</button></form>
        <form method="GET" action="/bibliography"><button type="submit">Bibliography</button></form>
    </div>
    <h1 class="center-text">Information about Hexadecimal</h1>
    <p>According to Fisher at Lifewire, Hexadecimal is a base-16 number system that's used in technology for several different things, including color hex codes. It was developed by Swedish-American John Williams Nystrom in 1859. Hexadecimal numbers are also used to shorten long standard notation and binary numbers for programmers.</p>

    <p>The hexadecimal system is good for showing long numbers because it shows numbers compactly, while still being fairly intuitive. For example, 100 million written out in hexadecimal would be “5F5E100”. This shortens the number from nine digits in the base10 system to only seven in the hexadecimal system. Savings like this are even greater with larger numbers, and when compared to binary, which significantly expands the amount of digits, due to only using ones and zeros.</p>

    <p>Hexadecimal works in a similar way to our regular base-10 system; however, each digit goes up to 16. So instead of counting to nine, adding a one to the front, and continuing, you'd count to 16, and then add a one in the front. Since after nine we run out of numbers, the hexadecimal system replaces them with letters, so 10 is A. For example, 0.5 can be represented as 0.8, since eight is half of 16. Here are some examples of hexadecimal numbers:</p>
    <ul>
        <li>123012 = 1E084</li>
        <li>128121 = 1F479</li>
        <li>3 = 3</li>
        <li>17 = 11</li>
    </ul>
    <p>Although I used whole number examples here, zero, fractions, and negative numbers can also be represented.</p>

    <p>Although hexadecimal isn't an old number system when compared to systems such as the Roman Numerals, there have been civilizations that have used a non-base10 number system. For example, the Babylonians used a base60 system. The Babylonians knew about what we call the Pythagorean theorem today (Gill, 2019). Hexadecimal is important for programmers since it provides a compact and fairly readable way to present numbers. It's also used in graphic design for hex codes. Hex codes work in the fashion where they store RGB values in two-digit pairs (#RRGGBB) (Demystifying hex codes: An expert guide to HTML color codes 2024).</p>

    <p>Along with numbers, the hexadecimal system can also be used to write words, using the ASCII coding. For example, “Hello” would result in “48656c6c6f” (Made In Text, 2024). This system is faster for computers than just storing “Hello”.</p>

    <p>Hexadecimal is a great system that's used for several things in technology, including color design. The system makes it easier for programmers to read long numbers, especially binary. The hexadecimal system works similarly to how binary and our standard base10 system work, making it easier to understand.</p>
</html>