<html>
	<head>
		<title>{{ title }}</title>
        <link rel="shortcut icon" sizes="16x16" href="https://lh3.googleusercontent.com/DXDYIJqEN1_DmERIRwSjkKnyY3Dvjp76oBs9B8kyqHUS-GlyJTU4Un2NmcAWdolB9FNd_yHBU9XJ6sCEu17uY4I58w-gToqmYAMqzQ7xM_1nMs0zeLnul_G4yPsMilkQftusy48fKncm-TlG_savB3BMrk-fXv5I4ShFoA1s_xKCOO9lHDz_dFi6FcLHqu3blmVwpBEK8For3WFGuP5ivJJlzSJmz2w6lAhk9nlDGK7HthlJISnKDuwxF1Na2jryubdqCMBDTd-aBAk86rgxHD2_Reesl6RPicvB0moZE5O9wgZEm0Cd9OAQT3VXZSyQ2gFT4JQpuHk2yxF8RS2qSNh-3iTnzUkL0NQzg5_-lAwXJARKvh3YzIPxgAtLOp3JgqHQLLi5MPkwCGeeHIPyRmQU1jypZjtkDUWn368KGjeihqG1ISL9w8QUqjOIMCn1oI97MiDFINi82EE9YmQb_weKtki0deA1sXnTUkwLwvdE0OMgrJh1yntsQ-Sdjmkgyh1O3GyP3X1iqjQvPlHmVO5StGRNe7_Aps8_l8A3lkFJ_W72BVcY_GsO3Cel88DyTNvUbwQSTzU0sf74PRY0Lsjcs5-Q8B63uxrBUzz6bsfiK5579CXbS17iayLuHWDferJNojX44Y3FmNfs9l_LfDUEEHH0XQ9kidC731ZkwWrtSR9d5hFICJpJU8ICLGleoNfs31vo4iILh0bkxkQTIJoC=w507-h492-no?authuser=0">
	</head>
	<table>
		<tr>
			<form action="/" method="get"><button type="submit">Welcome</button></form>
			<form action="/new_site_info" method="get"><button type="submit">Site Info</button></form>
			<form action="/print_web_info" method="get"><button type="submit">Pages Info</button></form>
			<form action="/youtube" method="get"><button type="submit">Youtube</button></form>
		</tr>
	</table>
	<hr>
	{% block content %}{% endblock %}
</html>