<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Local Messaging</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <div class="header">
            <div class="username">{{ username }}</div>
            <form action="/logout" method="POST">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
    </body>
</html>