{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for("calculator")}}" method="post">
    <label for="num1">First number:</label>
    <input type="text" id="num1" name="num1" placeholder="first number">
    <hr>
    <label for="type">Type:</label>
    <select name="type">
        <option value="+" selected>Addition (+)</option>
        <option value="-">Subtraction (-)</option>
        <option value="*">Multiplication (*, ×)</option>
        <option value="/">Division (/, ÷)</option>
        <option value="**">To The Power Of (**)</option>
        <option value="^">Square Root (^, √)</option>
    </select>
    <hr>
    <label for="num1">Second number:</label>
    <input type="text" id="num2" name="num2" placeholder="second number">
    <hr>
    <button type="submit">=</button>
{% endblock %}
