{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for("code")}}" method="post">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message" placeholder="abc123">
    <hr>
    <label for="key">Key:</label>
    <input type="text" id="key" name="key" placeholder="123">
    <hr>
    <label for="type">Type:</label>
    <select name="type">
        <option value="code" selected>code</option>
        <option value="decode">decode</option>
    </select>
    <hr>
    <button type="submit">code</button>
{% endblock %}
