<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
        <table>
            <tr>
                <form action="/" method="post"><button name="Welcome" type="submit">Welcome</button></form>
                <form action="/home" method="post"><button name="Home" type="submit">Home</button></form>
                <form action="/music" method="post"><button name="Music" type="submit">Music</button></form>
                <form action="/calendar" method="post"><button name="Calendar" type="submit">Calendar</button></form>
                <form action="/home/blogposts" method="post"><button name="Blog_Posts" type="submit">Blog Posts</button></form>
                <form action="/home/blogposts/small" method="post"><button name="Blog_Posts_Small" type="submit">Blog Posts Small</button></form>
                <form action="/youtube" method="post"><button name="youtube" type="submit">Youtube</button></form>
                <form action="/page" method="post"><button name="page" type="submit">Pages</button></form>
                <form action="/cac" method="get"><button name="cac" type="submit">Caculator</button></form>
                <form action="/passwords" method="get"><button name="password" type="submit">Passsword Creator</button></form>
                <form action="/login" method="get"><button name="login" type="submit">login</button></form>
                <form action="/turtle" method="get"><button name="turtle" type="submit">turtle</button></form>
            </tr>
        </table>
        <hr>
		{% block content %}{% endblock %}
	</body>
</html>
