<html>
	<head>
		<title>{{ title }}</title>
        <link rel="shortcut icon" sizes="16x16" href="https://lh3.googleusercontent.com/DXDYIJqEN1_DmERIRwSjkKnyY3Dvjp76oBs9B8kyqHUS-GlyJTU4Un2NmcAWdolB9FNd_yHBU9XJ6sCEu17uY4I58w-gToqmYAMqzQ7xM_1nMs0zeLnul_G4yPsMilkQftusy48fKncm-TlG_savB3BMrk-fXv5I4ShFoA1s_xKCOO9lHDz_dFi6FcLHqu3blmVwpBEK8For3WFGuP5ivJJlzSJmz2w6lAhk9nlDGK7HthlJISnKDuwxF1Na2jryubdqCMBDTd-aBAk86rgxHD2_Reesl6RPicvB0moZE5O9wgZEm0Cd9OAQT3VXZSyQ2gFT4JQpuHk2yxF8RS2qSNh-3iTnzUkL0NQzg5_-lAwXJARKvh3YzIPxgAtLOp3JgqHQLLi5MPkwCGeeHIPyRmQU1jypZjtkDUWn368KGjeihqG1ISL9w8QUqjOIMCn1oI97MiDFINi82EE9YmQb_weKtki0deA1sXnTUkwLwvdE0OMgrJh1yntsQ-Sdjmkgyh1O3GyP3X1iqjQvPlHmVO5StGRNe7_Aps8_l8A3lkFJ_W72BVcY_GsO3Cel88DyTNvUbwQSTzU0sf74PRY0Lsjcs5-Q8B63uxrBUzz6bsfiK5579CXbS17iayLuHWDferJNojX44Y3FmNfs9l_LfDUEEHH0XQ9kidC731ZkwWrtSR9d5hFICJpJU8ICLGleoNfs31vo4iILh0bkxkQTIJoC=w507-h492-no?authuser=0">
	</head>
	<body>
        <table>
            <tr>
                <form action="/" method="get"><button name="welcome" type="submit">Welcome</button></form>
                <form action="/home" method="get"><button name="home" type="submit">Home</button></form>
                <form action="/music" method="get"><button name="music" type="submit">Music</button></form>
                <form action="/calendar" method="get"><button name="calendar" type="submit">Calendar</button></form>
                <form action="/home/blogposts" method="get"><button name="blog_Posts" type="submit">Blog Posts</button></form>
                <form action="/home/blogposts/small" method="get"><button name="blog_Posts_Small" type="submit">Blog Posts Small</button></form>
                <form action="/youtube" method="get"><button name="youtube" type="submit">Youtube</button></form>
                <form action="/page" method="get"><button name="page" type="submit">Pages</button></form>
                <form action="/cac" method="get"><button name="cac" type="submit">Caculator</button></form>
                <form action="/passwords" method="get"><button name="password" type="submit">Passsword Creator</button></form>
                <form action="/login" method="get"><button name="login" type="submit">Login</button></form>
                <form action="/turtle" method="get"><button name="turtle" type="submit">Turtle</button></form>
                <form action="/pygame/draw" method="get"><button name="draw" type="submit">Draw</button></form>
                <form action="/feedback" method="get"><button name="feedback" type="submit">Feedback</button></form>
                <form action="/fire" method="get"><button name="fire" type="submit">Fire Gif</button></form>
                <form action="/ceo+info" method="get"><button name="CEO_info" type="submit">CEO info</button></form>
                <form action="/alarm" method="get"><button name="alarm" type="submit">Alarm</button></form>
                <form action="/lola" method="get"><button name="lola" type="submit">Lola Image</button></form>
                <form action="/code" method="get"><button name="code" type="submit">Coder And Decoder</button></form>
                <form action="/fun" method="get"><button name="fun" type="submit">Fun Stuff</button></form>
                <form action="/christmas" method="get"><button name="christmas" type="submit">Christmas Tree</button></form>
                <form action="/notes/read" method="get"><button name="notes_read" type="submit">note reader</button></form>
                <form action="/notes/write" method="get"><button name="notes_write" type="submit">note writer</button></form>
                <form action="/schedule/create" method="get"><button name="schedule_write" type="submit">schedule write</button></form>
                <form action="/schedule/read" method="get"><button name="schedule_read" type="submit">schedule read</button></form>
                <form action="/schedule/empty" method="get"><button name="schedule_empty" type="submit">schedule empty</button></form>
                <form action="/is-it-the-word" method="get"><button name="is_it_the_word" type="submit">Is It The Word</button></form>
                <form action="/noah-info" method="get"><button name="Noah_info" type="submit">Noah's Info</button></form>
            </tr>
        </table>
        <hr>
		{% block content %}{% endblock %}
	</body>
</html>
