{% extends "layout.html" %}

{% block content %}
    <iframe src="https://open.spotify.com/embed/playlist/3hx2cnjlnPvMZ71rU5VSy5?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/playlist/2bXlmje9d0pZ0WTgfLzoMT?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/0pqnGHJpmpxLKifKRmU6WP" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/1zB4vmk8tFRmM9UULNzbLB" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/4G8gkOterJn0Ywt6uhqbhp" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/1dekgAFF9uTCqLsklDaCWb" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/32OlwWuMpZ6b0aN2RZOeMS" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/2sr6TTgu2YbQVN0D4qm5H5" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/3YH9vjAuwM3zqXeUgI9FJq" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/2SJf7W18D1AEpr8L9ATu0c" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/3adVVrcE2KS26OL4rYd27O" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/33woI0Kj5IdvDsq2A1C2o7" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/7vQbuQcyTflfCIOu3Uzzya" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/6cx06DFPPHchuUAcTxznu9" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <iframe src="https://open.spotify.com/embed/track/4ylWMuGbMXNDgDd8lErEle" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <hr>
    <p>credits for this page:</p>
    <p>Spotify for providing all of the songs above</p>
    <p>Jonah for creating all the playlists above</p>
{% endblock %}