{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="main.css" />
    <body>
        <form action = "/success" method = "post" enctype="multipart/form-data">
            <h1>Create Your Post</h1>
            <p>Choose a file to upload</p>
            <input type="file" name="file" />
            <br>
            <br>

            <p>Choose a title for your post:</p>
            <input type='text' name="title" size="100">
            <br>
            <br>

            <p>Write a description for your post</p>
            <input type='text' name="description" size="100">
            <br>
            <br>
            <input type = "submit" value="Post">
        </form>
        <p>{{ error }}</p>
    </body>
{% endblock %}
