.center-text {
    text-align: center;
}

.converter-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.converter-container :is(input) {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.converter-container :is(button) {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.converter-container :is(input, button) {
    box-sizing: border-box;
}

.button-container {
    display: flex;
    gap: 10px; /* Adds space between buttons */
  }
