{% extends "layout.html" %}

{% block content %}
    <h1>List Of Pages:</h1>
    <p>Welcome</p>
    <p>Home</p>
    <p>Music</p>
    <p>Calendar</p>
    <p>Blog Posts</p>
    <p>Blog Posts Small Size</p>
    <p>Youtube</p>
    <p>Caculator</p>
    <p>Password Creator</p>
    <p>CEO info</p>
    <p>Fire gif</p>
    <p>login</p>p>
    <p>Christmas tree</p>p>
    <p>turtle</p>
    <p>draw</p>
    <p>Feedback</p>
    <p>Alarm</p>
    <p>Lola image</p>
    <p>Coder and decoder</p>
    <p>Fun stuff</p>
    <p>This page</p>
{% endblock %}