{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for("passwords")}}" method="post">
    <label for="type">Letters (ex: A, b, C):</label>
    <select name="letters">
        <option value="y" selected>yes</option>
        <option value="n">no</option>
    </select>
    <hr>
    <label for="type">Numbers (ex: 1, 2, 3):</label>
    <select name="numbers">
        <option value="y" selected>yes</option>
        <option value="n">no</option>
    </select>
    <hr>
    <label for="type">Would you like special chars? (ex. @, %, -):</label>
    <select name="sc">
        <option value="y" selected>yes</option>
        <option value="n">no</option>
    </select>
    <hr>
    <label for="type">Would you like super special chars? (ex: ←, ↑, →):</label>
    <select name="super_c">
        <option value="y">yes</option>
        <option value="n" selected>no</option>
    </select>
    <hr>
    <label for="num1">Length:</label>
    <input type="text" id="length" name="length" placeholder="length">
    <hr>
    <form method="get"><button name="create" type="submit">create</button></form>
        
{% endblock %}