<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom News Aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="summaries">
            <div class="summary" id="canada-summary">
                <h2>Canada</h2>
                <p>{{ data['canada_summary'] }}</p>
            </div>

            <div class="summary" id="international-summary">
                <h2>International</h2>
                <p>{{ data['international_summary'] }}</p>
            </div>
        </div>

        <div class="articles">
            <div class="region" id="canada-articles">
                <h3>Canada News</h3>
                {% for article in data['articles'] %}
                    {% if article['region'] == 'ca' %}
                        <div class="article-box">
                            {% if article['imgurl'] %}
                                <img src="{{ article['imgurl'] }}">
                            {% endif %}
                            <h4>{{ article['title'] }}</h4>
                            <p>{{ article['summary_short'] }}</p>
                            <a href="{{ article['url'] }}" target="_blank">Read Full Article</a>
                            <p><strong>Source:</strong> {{ article['source'] }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="region" id="international-articles">
                <h3>International News</h3>
                {% for article in data['articles'] %}
                    {% if article['region'] == 'in' %}
                        <div class="article-box">
                            {% if article['imgurl'] %}
                                <img src="{{ article['imgurl'] }}">
                            {% endif %}
                            <p>{{ article['summary_short'] }}</p>
                            <a href="{{ article['url'] }}" target="_blank">Read Full Article</a>
                            <p><strong>Source:</strong> {{ article['source'] }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
